<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<main class="container">
    <div class="jumbotron">
            <h1>Contact Us!</h1>

            <form action="facebook.com" method="post">
                <label for="firstname">First Name</label><br>
                <input type="text" class="input" id="firstname" name="firstname" required><br><br>

                <label for="lastname">Last Name</label><br>
                <input type="text" class="input" id="lastname" name="lastname" required><br><br>

                <label for="contactnumber">Contact Number</label><br>
                <input type="text" class="input" id="contactnumber" name="contactnumber" required><br><br>

                <label for="email">Email</label><br>
                <input type="text" class="input" id="email" name="email" required><br><br>

                <label for="messageus">Message Us</label><br>
                <input type="text" class="input" id="messageusr" name="messageus" required><br><br>
            </form>
            <input type= "submit" value="Submit">
        </div>
</main>

<script>
    function redirectToHomePage() {
    // You can use window.location.href to redirect to the home page
    window.location.href = "localhost:3000";
    }
</script>

<style>
    .container {
        width: 80%;
        margin: auto;
        padding-bottom: 20px;
    }

    .jumbotron {
        background-color: peachpuff;
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: #4D3232;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color:khaki;
        color: #4D3232;
    }
</style>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>

