<!DOCTYPE html>
<html lang="en">
<head>
<title>Real Estate Agent</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<style>


</style> 
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Erik Conover</h1>
  </header>
    <nav>
	<ul>
      <li><a href="index.ejs">Home</a></li>
      <li><a href="activelistings.html">Active Listings</a></li>
      <li id="page">Contact</li>
      <li><a href="Sitemap.html">Sitemap</a></li>
	 </ul>
    </nav>
    <main>
    <h2><span lang="en-ca">Contact us for your Dream Home!</span></h2>
	<form method="post" action="mailto:partnership@erikconover.com">
  <br>
  <div class = "content">
      <label for = "First Name"> Your First Name:</label><input name="txtName" type="Name" required="required" />
  </div>
  <div class = "content">
    <label for = "Last Name"> Your Last Name:</label><input name="txtName" type="Name" required="required" />
</div>
  <div class = "content">
    <label for = "Number"> Your Phone Number:</label><input name="txt" type="txt" required="required" />
  </div>
  <div>
    <label for = "Email">Your Email:</label><input name="txtEmail" type="email" required="required" />
  </div>
  <div>
    <label for = "Message">Message:</label><input name="txtEmail" type="email" required="required" />
  </div>